
<table class="table table-striped">
  <thead >
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Subject</th>
      <th scope="col">Start Time</th>
      <th scope="col">Stop Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @themes.subject %></td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>