

<h1 class="text-center"><%= @now.strftime("%d of %B, %Y") %></h1>
<h1 class="text-center"><%= @now.strftime("%I:%M %p")  %></h1>

<button type="button" class="btn btn-success">Start</button>
<button type="button" class="btn btn-danger">Finish</button>

<a class="btn btn-custom01">
  <span class="btn-custom01-front">PUSH</span>
  <i class="fas fa-angle-right fa-position-right"></i>
</a>